/*css for waybar (top)*/

* {
  border: none;
/*  border-radius: 30; */
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(46,52,64,1.0);
  /*background: #2e3440;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background: #2e3440;
}

#waybar.empty #window {
  background: #2e3440;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: none;
  /*background: #2e3440;*/
  color: #d8dee9;
}

#mode {
  margin-left: 12px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 5px;
  transition: none;
  /*background: #2e3440;*/
}

#workspaces {
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  transition: none;
  background-color: #424e66;
        /*rgba(60, 70, 92,1);*/
  /*background: #3d475c;*/
}

#workspaces button {
  transition: none;
  margin-right: 3px;
  color: grey;
  background: transparent;
  border-radius: 0px;
}

#workspaces button.occupied {
  transition: none;
  color: #89b4fa;
  background: transparent;
  font-size: 4px;
}

#workspaces button.focused {
  color: #89b4fa;
  border-bottom: 2px solid #81a1c1;
  border-color: #89b4fa; 
  padding-right: 10px;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #81a1c1;
}

.custom-spotify {
    padding: 0 10px;
    border-radius: 20px;
    margin: 8px 50px;
    background-color: #1DB954;
    background: rgba(29, 185, 84, 0.9);
    color: black;
}

#custom-playerctl.backward {
    padding: 0px 5px 0px 10px; 
    border-radius: 50px;
    margin: 8px 2px;
    margin-left: 50px;
    background-color: #d395e6;
    color: black;
}

#custom-playerctl.play {
    padding: 0px 5px 0px 10px;
    border-radius: 50px;
    margin: 8px 2px;
    background-color: #d395e6;
    color: black;
}

#custom-playerctl.forward {
    padding: 0px 5px 0px 10px;
    border-radius: 50px;
    margin: 8px 2px;
    background-color: #d395e6;
    color: black;
}

#custom-playerlabel {
    padding: 0 10px;
    border-radius: 20px;
    margin: 8px 10px;
    background-color: #d395e6;
    color: black;
}

#temperature {
  margin-left: 12px;
  /*margin-right: 12px;*/
  border-radius: 5px;
  transition: none;
  padding: 0 10px;
  color: #89b4fa;
  /*background: #2e3440;*/
}

#pulseaudio /* volume */ {
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 0 10px;
  color: #89b4fa;       
  /*border-bottom: 2px solid #89b4fa;
  border-radius: 0px;*/
  /*background: #2e3440;*/
}

#battery {
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #89b4fa;
  /*background: #2e3440;*/
}

#battery.critical:not(.charging) {
  background-color: #d8dee9;
  color: #2e3440;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #d8dee9;
  }
}

#cpu {
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #89b4fa;
  /*background: #2e3440;*/
}

#memory {
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #89b4fa;
  /*background: #2e3440;*/
}

#clock {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #cba6f7;
  /*background: #2e3440;*/
}

#tray {
  margin-right: 12px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d8dee9;
  /*background: #2e3440;*/
}

#network {
  margin-left: 12px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d8dee9;
  /*background: #2e3440;*/
}

#custom-launcher {
    color: #89b4fa;
    border-radius: 0px 0px 40px 0px;
    margin: 0px 20px;
    padding: 0px 35px 0px 15px;
    font-size: 28px;
}
